# Ignore files used for debugging
*_debug.*
slurm/logs/
tmp/
checkpoints/
test/
rq-test/
.ipynb_checkpoints/
wandb/
experiments/
sweeps/
todo

# Ignore caches
*.pyc

# Ignore saved models
*.model

# Ignore logs
*.err
*.out
*.pkl
